body {
    margin: auto 0;
}

li {
    padding: 20px;
}

a {
    text-decoration: none;
    color:#444
}

h1, h2 {
    text-align: center;
}

p {
    margin: 0;
    text-align: left;
}

.logo {
    margin-right: auto; 
}
.zone {
    color:#444;
    font-size:2em;  
}

.main-nav {
    display: flex;
    list-style: none;
    font-size: 0.7em;
    margin: 0;
    padding: 0;
    color: black;
}

.container.homepage > img {
    height: 50vh;
}

.sub-header.container > img {
    height: 25vh;
}

@media only screen and (max-width: 600px) {
    .main-nav {
        font-size: 0.5em;
        padding: 0;
    }
}

@media only screen and (max-width: 850px) {
    .grid-wrapper {
        flex-direction: column;
    }

    .box {
        display: flex;
        flex-direction: column;
        
    }

    .box > h4, .box p {
        text-align: center;
    }
    .image-item {
        margin: auto;
    }

    div.flex-section {
        flex-direction: column;
        margin: 5vh auto;
    }

    .flex-text {
        order: 2;
    }

    .flex-text h4 {
        text-align: center;
    }
}
/* COVER */
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30vh;
    background-color: rgb(222, 222, 222);
    border: 3px solid black;
}

.sub-header.container {
    margin: 0 8vw 0 8vw;
    height: 35vh;
    border: 3px solid black;
}

/* GRID */
.grid-wrapper {
    display: flex; 
    justify-content: space-around;
    max-width: 70vw;
    margin: auto;
}

.box > img {
    max-height: 15vw;
    margin: auto;
    display: block;
}

.box {
    padding: 20px;
    margin: 20px 4vw;
}

.wrapper {
    max-width: 65vw;
    margin: 4vw auto;
}

.activities-box {
    margin-bottom: 8vw;
}

.activities-img-box {
    background-color:rgb(222, 222, 222);
    border: 3px solid black;
    height: 200px;
}
.activities-img-box > img {
    max-height: 10vw;
    margin: auto;
    display: block;
}

.activities-box h4 {
    margin: 10px 0;
}
.flex-section {
    display: flex;
    margin: 15vh auto;
}

.flex-img > img {
    height: 200px;
    width: auto;
    margin-right: 20px;
}

.flex-text {
    padding: 20px;
}
.section {
    margin: 5vw auto 5vw auto;
    max-width: 65vw;
    max-width: 65vw;
}

.section.faq {
    text-align: left;
}

.section.faq h4, .section.faq p{
    margin: 10px 0 5px 0;
}

.image-item {
    width: 200px;
    height: 200px;
    background: #d9d9d9;
    border: 3px solid black;
}

.image-item > span, .activities-img-box > span {
    margin: auto;
    padding: 80px 0;
    display: block;
    text-align: center;
}

/* FOOTER */

footer {
    text-align: center;
    font-size:.8em;
    padding: 10px 0;
}